@media screen and (max-width:1199px)
{
	.container {
    width: 100%;
	}
	#navbar-collapse-1 {
    padding: 0;
	}
	.navbar.navbar-default li a {
    padding: 27px 8px;
	}
}

@media screen and (max-width:1024px)
{
	.navbar-brand {
    position: absolute;
    left: 0;
    right: auto;
	top:0;
	}
	.navbar.navbar-default li a {
    padding: 14px 18px;
	}
	#navbar-collapse-1 {
    padding: 0;
    margin-top: 30px;
	}
	
	/*NavBar Toggle Point*/
	 .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }

   #navbar-collapse-1 {
    position: fixed;
    width: 250px;
    background: #aa3339;
    height: 100% !important;
    top: -30px !important;
    left: -320px !important;
    z-index: 999;
	transition:0.8s all;
	display: block !important;
	padding-left: 20px;
	z-index: 999999999;
	overflow-x: hidden;
	}
	
	







	#navbar-collapse-1.fixed
	{
		left: 0px !important;
		transition:0.8s all !important;
	}
	.nav.navbar-nav li {
    width: 100%;
	}
	.nav.navbar-nav li a
	{
		color:#fff;
	}
}


@media screen and (max-width:991px)
{
	.home_pro_inner img {
    left: auto;
	}
	.home_pro_inner {
    min-height: 255px;
	}
	.banner-pro-inner-col {
    border: 1px solid #dedede;
    padding: 35px 10px;
    margin-bottom: 35px;
    text-align: center;
    min-height: auto;
	}
}

@media screen and (max-width:767px)
{
	.copy_right div {
    width: 100%;
    text-align: center;
	}
	.copy_right img {
    margin: 0 auto;
    float: none !important;
	}
	.footer_red_bar h4 {
    margin-bottom: 20px;
	}
	.footer-col {
    margin-bottom: 20px;
	}
	.get_connected ul li {
    width: 100%;
    float: none;
    margin-bottom: 30px;
	}
	.slide_banner {
    padding-top: 100px;
    padding-bottom: 100px;
    }
}